:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --accent: #c084fc;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: 500;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}